@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    background:#E5E5E5;
    width: 375px;
    height:5410px;
    position: relative;
    
}

.enabled{
    display:flex;

}
.bars{
    position: absolute;
    margin-left: 300px;
    width: 18px;
    height: 12px;
    background: #6070FF;
    box-align: center;
    flex-direction: row-reverse ;

}
.logo{
    width: 76px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color:#6070FF;
    flex: none;
    order:0;
    flex-grow: 0;
    
}
.background{
    background-image: url(header-shapes\ mobile.jpg);
    background-repeat: no-repeat;
    background-size: auto;
}
.header{
    width: 327px;
    height: 150px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    display:flex;
    align-items: center;
    color: #172b4D;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.content{
    width: 327px;
    height: 146px;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.social-links{
    width: 117px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size:16px ;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex: 0;
    flex-grow: 0;
}
.connect{
    width:170.17px;
    height: 20px;
    flex: none;
    order: 3;
    flex-grow: 0;
}
